body {
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

header{
    font-size: 12px;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: darkgreen;
}

